.sec1 {
    padding: 3% 10%;
}

#product1 .c-container {
    display: flex;
    justify-content: space-around;
    padding: 2% 0 6% 0;
    flex-wrap: wrap;
    float: left;
}

#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 15.625rem;
    padding: 1% 1.2%;
    border: 0.0625rem solid #cce7d0;
    border-radius: 1.5625rem;
    cursor: pointer;
    box-shadow: 1.25rem 1.25rem 1.25rem rgba(0, 0, 0, 0.02);
    margin: 2% 0;
    transition: 0.2s ease;
    position: relative;
    padding: 4% 4%;
    background-color: #f3e7ae;
}

#product1 .pro:hover {
    box-shadow: 1.25rem 1.25rem 1.25rem rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 1.25rem;
}

#product1 .pro .description {
    text-align: start;
    padding: 3% 0;
}

#product1 .pro .description span {
    color: black;
    font-size: 1.25rem;
    text-decoration: solid;
    text-align: center;
}

#product1 .pro .description h2 {
    padding-top: 0.5%;
    color: #1a1a1a;
    font-size: 0.875rem;
}

#product1 .pro .description i {
    font-size: 1rem;
    color: rgb(243, 181, 25);
}

.tags_div {
    padding-bottom: 1%;
    display: flex;
    gap: 2%;
}

.tag {
    background-color: rgba(255, 229, 91, 61%);
    padding: 0.5% 1%;
    text-align: center;
    color: black;
    border-radius: 0.125rem;
    font-family: "Poppins";
}

#product1 .pro .basket {
    font-size: 2.25rem;
    color: #ff4d4d;
    position: absolute;
    right: 3%;
    bottom: 6%;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

#product1 .pro .basket:hover {
    color: #ff1a1a;
    transform: scale(1.1);
}

/*=============================================*/
.image-container {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 94%;
    height: 94%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    text-decoration: solid;
    padding: 3%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-container:hover img {
    opacity: 0.7; /* Change the opacity of the image when hovered */
}

.image-container:hover .overlay-text {
    opacity: 1; /* Display the text when the container is hovered */
}

.moving-text {
    overflow: hidden;
}

.moving-text span {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1020px) { /* 1200px */
    #product1 .pro {
        width: 30%;
    }
}

@media screen and (max-width: 992px) { /* 992px */
    #product1 .pro {
        width: 20%;
    }
}

@media screen and (max-width: 576px) { /* 576px */
    .sec1{
    padding: 0%;
    }
    
}