body {
    font-family: "Poppins";
}

.sec1 {
    padding: 3% 10%;
}

#product1 .c-container {
    display: flex;
    justify-content: space-around;
    padding: 2% 0 6% 0;
    flex-wrap: wrap;
    float: left;
}

#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 15.625rem;
    padding: 1% 1.2%;
    border: 0.0625rem solid #cce7d0;
    border-radius: 1.5625rem;
    cursor: pointer;
    box-shadow: 1.25rem 1.25rem 1.25rem rgba(0, 0, 0, 0.02);
    margin: 2% 0;
    transition: 0.2s ease;
    position: relative;
    padding: 4% 4%;
    background-color: #f3e7ae;
}

#product1 .pro:hover {
    box-shadow: 1.25rem 1.25rem 1.25rem rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 1.25rem;
}

#product1 .pro .description {
    text-align: start;
    padding: 3% 0;
}

#product1 .pro .description span {
    color: black;
    font-size: 1.25rem;
    text-decoration: solid;
    text-align: center;
}

#product1 .pro .description h2 {
    padding-top: 0.5%;
    color: #1a1a1a;
    font-size: 0.875rem;
}

#product1 .pro .description i {
    font-size: 1rem;
    color: rgb(243, 181, 25);
}

body {
    margin: 0;
}

.tags_div {
    padding-bottom: 1%;
    display: flex;
    gap: 2%;
}

.tag {
    background-color: rgba(255, 229, 91, 61%);
    padding: 0.5% 1%;
    text-align: center;
    color: black;
    border-radius: 0.125rem;
    font-family: "Poppins";
}

#product1 .pro .basket {
    font-size: 2.25rem;
    color: #ff4d4d;
    position: absolute;
    right: 3%;
    bottom: 6%;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

#product1 .pro .basket:hover {
    color: #ff1a1a;
    transform: scale(1.1);
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: #F7F3EF;
    margin: 0;
    cursor: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3% 3% 0 3%;
    display: flex;
    z-index: 999;
    justify-items: center;
    transition: all 300ms ease;
}

.logo {
    margin-right: 5%;
    width: 25%;
    height: 10vh;
    background-image: url("../images/logo.png");
    background-size: 60%;
    background-repeat: no-repeat;
    margin-top: 1.5%;
}

ul {
    display: flex;
    gap: 12%;
    justify-content: space-around;
}

#navbar li {
    list-style: none;
}

#navbar a {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: black;
    text-decoration: none;
    transition: all 400ms ease;
    border-radius: 1em;
}

#navbar a:hover {
    background-color: white;
    padding: 0.86rem 1.51rem;
}

#navbar #con {
    background-color: #ffe55b;
    padding: 8%;
    border-radius: 0.5em;
    white-space: nowrap;
}

#navbar #con:hover {
    background-color: white;
    padding: 0.86em 1.51em;
  }

/*=============================================*/
.circle {
    height: 1em;
    width: 1em;
    border-radius: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
}

.image-container {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 94%;
    height: 94%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    text-decoration: solid;
    padding: 3%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-container:hover img {
    opacity: 0.7; /* Change the opacity of the image when hovered */
}

.image-container:hover .overlay-text {
    opacity: 1; /* Display the text when the container is hovered */
}

.moving-text {
    overflow: hidden;
}

.moving-text span {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8.125rem;
    background-color: black;
}

.footer {
    padding: 1% 3%;
    justify-content: center;
    justify-items: center;
    display: flex;
    gap: 15%;
}

.logos {
    display: flex;
}

.logos img {
    width: 3em;
    height: 3em;
}

footer h2 {
    font-size: 1rem;
    color: white;
    font-family: "Poppins";
    font-weight: 200;
    margin: 0;
    text-align: center;
}

.Copyright {
    text-align: center;
    padding: 1% 0;
    width: 100%;
    font-family: "Poppins";
    font-size: 0.9375em;
    color: #ffe55b;
    background-color: #1f1f1f;
    line-height: 1.8;
    letter-spacing: 0.03125em;
    margin: 0;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1020px) { /* 1200px */
    #product1 .pro {
        width: 30%;
    }
}

@media screen and (max-width: 992px) { /* 992px */
    #product1 .pro {
        width: 20%;
    }
}

@media screen and  (max-width: 768px) { /* 768px */
    #navbar{
        padding: 3% 0 0 3%;
      }
    .logo{
      display: none;
    }
}

@media screen and (max-width: 576px) { /* 576px */
    .logo{
        display: none;
    }
    #navbar {
        padding:0%;
        width: 100%;
        margin-left: auto;
    }
    #navbar a {
        font-size: 0.7em;
    }
    .footer {
        padding: 5% 0%;
        gap: 1%;
        height: 8vh;
      }
      footer h2 {
        font-size: 0.8125em;
      }
      .logos img {
        width: 2em;
        height: 2em;
      }

      .sec1{
        padding: 0%;
      }
    
}